<app-header></app-header>
<h3>Título actual</h3>

<h4 *ngIf="actualLevel">{{actualLevel.level.name}} <span style="float: right; color: black;">{{points[0].amount}} {{points[0].point.abbreviation}}</span></h4> 

<h3>Progreso siguiente nivel</h3>
<mat-card class="progressLevelCard" >
    <img src="https://static-cdn.jtvnw.net/cb-achievements-assets/badge_vip.png" style="height: 50%; display: inline-block;">
    <p *ngIf="nearLevel" style="display: inline-block; margin-left: 2%;">{{nearLevel.level.name}}</p>
    <div id="progressLevel" class="progress">
        <span id="progressValue" class="value"></span>
    </div>
</mat-card>

<h3>Logros Completados</h3>
<div style="width: 60%; margin: auto">
    <mat-card *ngFor="let chall of completedChallenges"class="challengeCard" >
        <img src="https://i.dlpng.com/static/png/6926035_preview.png" style="height: 50px; display: inline-block;">
        <p style="display: inline-block; margin-left: 2%; width: 85%">{{chall.challenge.name}} <span style="float: right;">{{chall.dateDisplay}}</span></p>
    </mat-card>
</div>