<mat-card class="questionnaire-card">
  <mat-card-header>
    <mat-card-title>Cuestionario post-desafío</mat-card-title>
    <mat-card-subtitle>Responde las siguientes preguntas respecto al deasfío que acabas de responder:</mat-card-subtitle>
  </mat-card-header>
  <h4 class="challenge">
    La pregunta desafío fue: Ejemplo de pregunta desafío.
  </h4>
  <mat-card-content>
    <div id="certainty-label" class="certaintyLabel">1. ¿Qué tan seguro estás de la respuesta que entregaste?</div>
    <mat-grid-list cols="12">
      <mat-grid-tile colspan="4">
        <div class="initLabel">
          Muy inseguro
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <mat-radio-group
          aria-labelledby="certainty-label"
          [(ngModel)]="certainty">
          <mat-radio-button *ngFor="let value of values" [value]="value">
            {{value}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <div style="margin-right: 50%">
          Muy seguro
        </div>
      </mat-grid-tile>
    </mat-grid-list>     
<!--    <div>Estás relacionado: {{acquainted}}</div>  -->
    <div id="difficulty-label" class="difficultyLabel">2. ¿Qué tan difícil fue encontrar la respuesta?</div>
    <mat-grid-list cols="12">
      <mat-grid-tile colspan="4">
        <div class="initLabel">
          Muy fácil
        </div>        
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <mat-radio-group
        aria-labelledby="difficulty-label"
        [(ngModel)]="difficulty">
        <mat-radio-button *ngFor="let value of values" [value]="value">
          {{value}}
        </mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <div style="margin-right: 50%">
          Muy difícil
        </div>
      </mat-grid-tile>
    </mat-grid-list>   
<!--    <div>Nivel de dificultad: {{difficulty}}</div>  -->
    <mat-grid-list cols="12" class="checkbox-section">
        <mat-checkbox class="checkbox" [(ngModel)]="checked">Por favor confirme para continuar</mat-checkbox>      
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions class="cardActions">
    <button mat-raised-button class="saveButton" [(disabled)]="!checked">
      GUARDAR
    </button>
    <button mat-raised-button class="clearButton">
      LIMPIAR
    </button>
  </mat-card-actions>
</mat-card>