<mat-card class="questionnaire-card">
  <mat-card-header>
    <mat-card-title>{{ "QUESTIONNAIRE.POST_TEST.TITLE" | translate }}</mat-card-title>
    <mat-card-subtitle>{{ "QUESTIONNAIRE.POST_TEST.SUBTITLE" | translate }}:</mat-card-subtitle>
  </mat-card-header>
  <h4 class="challenge">
    {{ "QUESTIONNAIRE.POST_TEST.CHALLENGE" | translate }}:
  </h4>
  <mat-card-content *ngFor="let questionnaire of questionnaires">
    <form [formGroup]="questionnaireForm">
      <div formArrayName="answers">
        <mat-grid-list cols="12" *ngFor="let question of questionnaire.questions; let index = index">
          <div class="label">{{questionnaire.questions[index].number}}. {{questionnaire.questions[index].question}} </div>
          <mat-grid-tile colspan="4">
            <div class="initLabel">
              {{ question.options[0].option }}
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <mat-radio-group
              isRequired
              [formControlName]="index">
              <mat-radio-button *ngFor="let value of values" [value]="value" required>
                {{value}}
              </mat-radio-button>
            </mat-radio-group>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <div style="margin-right: 50%">
              {{ question.options[1].option }}
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
			<mat-grid-list cols="12" class="checkbox-section">
				<mat-checkbox class="checkbox" formControlName="checked" required>{{ "QUESTIONNAIRE.PRE_TEST.FORM.FIELDS.CHECK" | translate }}</mat-checkbox>
				<mat-error *ngIf="questionnaireFormControls.checked.hasError('required') && questionnaireFormControls.checked.touched">
					{{ "ERRORS.CHECK_REQUIRED" | translate }}
				</mat-error>
			</mat-grid-list>
    </form>
  </mat-card-content>
  <mat-card-actions class="cardActions">
    <button mat-raised-button color="primary" class="saveButton" (click)="saveAnswers()" [disabled]="!questionnaireForm.valid">
      {{ "BUTTONS.SAVE" | translate }}
    </button>
    <button mat-raised-button color="accent" class="clearButton" (click)="resetForm()">
      {{ "BUTTONS.CLEAR" | translate }}
    </button>
  </mat-card-actions>
</mat-card>
