/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Common*/

#page-container {
	position: relative;
	min-height: 107.5vh;
  }
  
#content-wrap {
	padding-bottom: 12.5rem;    /* Footer height */
}

.mb8{
    margin-bottom: 8px;
}

.fl{
    float: left !important;
}

.fr{
    float: right !important;
}

.di-ib{
    display: inline-block;
}

.di-b{
    display: block;
}
