<mat-card class="questionnaire-card">
  <mat-card-header>
    <mat-card-title>{{ "QUESTIONNAIRE.PRE_TEST.TITLE" | translate }}</mat-card-title>
    <mat-card-subtitle>{{ "QUESTIONNAIRE.PRE_TEST.SUBTITLE" | translate }}:</mat-card-subtitle>
  </mat-card-header>
  <p class="challenge-text">{{ "QUESTIONNAIRE.PRE_TEST.CHALLENGE" | translate }}:</p>
  <h5 class="challenge">
    {{ question }}
  </h5>
  <mat-card-content *ngIf="questionnaires?.length">
    <form [formGroup]="questionnaireForm">
      <div formArrayName="answers" *ngFor="let question of questionnaires[0].questions; let questionIndex = index;">
        <mat-grid-list cols="12">
          <div class="label">{{question.number}}. {{question.question}} </div>
          <mat-grid-tile colspan="4">
            <div class="initLabel">
              {{ question.options[0].option }}
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <mat-radio-group
              required
              [formControlName]="questionIndex">
              <mat-radio-button class="custom-radio-button" *ngFor="let value of values" [value]="value" required>
                {{value}}
              </mat-radio-button>
            </mat-radio-group>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <div style="margin-right: 50%">
              {{ question.options[1].option }}
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="cardActions" *ngIf="questionnaires">
    <button mat-raised-button color="primary" class="saveButton" (click)="saveAnswers()" [disabled]="!questionnaireForm.valid">
      {{ "BUTTONS.SAVE" | translate }}
    </button>
    <button mat-raised-button color="accent" class="clearButton" (click)="resetForm()">
      {{ "BUTTONS.CLEAR" | translate }}
    </button>
  </mat-card-actions>
</mat-card>
