<div>
  <div class="row">

    <div class="col-md-12 questionBar" style="left: 1%;" (click)="tabhideshow($event)" >
      <div class="row">
        <div class="col-md-1" style="left: 2%;"><b *ngIf="hide" style="color: #3f51b5">{{timeLeft}}seg </b></div>
        <div class="col-md-11"><mat-icon> {{hide?"expand_less":"expand_more"}}</mat-icon></div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-tab-group id="mat-tab" mat-align-tabs="start" (selectedIndex)=1 (selectedTabChange)="onTabChanged()">
        <!--
         <mat-tab *ngIf="hide">
          <ng-template mat-tab-label> <b style="color: #3f51b5">{{timeLeft}}seg </b> </ng-template>
        </mat-tab>
        -->

        <mat-tab>
          <ng-template mat-tab-label style="white-space: normal;"
                       *ngIf="gameService.challenge.answer_type === 'string' || gameService.challenge.answer_type === 'number'">
            <div class=" row">
              <div class="col-md-12 inline-flex" style="white-space: normal;">
                {{"GAME.QUESTION_BAR.CHALLENGE_TYPE.STRING_NUMBER" | translate}}:
              </div>
            </div>
          </ng-template>
          <ng-template mat-tab-label style="white-space: normal;" *ngIf="gameService.challenge.answer_type === 'url'">
            <div class=" row">
              <div class="col-md-12 inline-flex" style="white-space: normal;">
                {{"GAME.QUESTION_BAR.CHALLENGE_TYPE.URL_START" | translate}} <mat-icon>star</mat-icon> {{"GAME.QUESTION_BAR.CHALLENGE_TYPE.URL_END" | translate}}:
              </div>
            </div>

          </ng-template>
          <ng-template mat-tab-label style="white-space: normal;" *ngIf="gameService.challenge.answer_type === 'justify'">
            <div class=" row">
              <div class="col-md-12 inline-flex" style="white-space: normal;">
                {{"GAME.QUESTION_BAR.CHALLENGE_TYPE.JUSTIFY_START" | translate}} <mat-icon>star</mat-icon> {{"GAME.QUESTION_BAR.CHALLENGE_TYPE.JUSTIFY_END" | translate}}:
              </div>
            </div>

          </ng-template>

          <div class="panel-container" >
            <mat-grid-list cols="24" rowHeight="40px">
              <mat-grid-tile class="question-text" colspan="18" rowspan="3" >
                {{gameService.challenge.question}}
              </mat-grid-tile>
              <mat-grid-tile colspan="6" rowspan="5">
                <div>
                  <mat-progress-spinner class="spinner" diameter=120 mode=determinate [value]="value"> </mat-progress-spinner>
                  <div class="counter" [ngStyle]="{'left':leftValue}">{{timeLeft}}</div>
                </div>
              </mat-grid-tile>

              <mat-grid-tile colspan="18" rowspan="4" *ngIf="gameService.challenge.answer_type === 'string' || gameService.challenge.answer_type === 'number'; else elseBlock">
                <form class="answer-form" [formGroup]="answerForm">
                  <mat-form-field class="input-full-width answerField" required *ngIf="gameService.challenge.answer_type === 'string'">
                    <mat-label>{{ "GAME.ANSWER_TYPE.TEXT" | translate }}</mat-label>
                    <input matInput formControlName="answer">
                    <mat-icon matSuffix (click)="sendAnswer()" class="submit-icon" #tooltip="matTooltip" [(matTooltip)]="sendAnswerTooltip">send</mat-icon>
                  </mat-form-field>

                  <mat-form-field class="input-full-width answerField" required *ngIf="gameService.challenge.answer_type === 'number'">
                    <mat-label>{{ "GAME.ANSWER_TYPE.NUMBER" | translate }}</mat-label>
                    <input matInput formControlName="answer" type="number">
                    <mat-icon matSuffix (click)="sendAnswer()" class="submit-icon" #tooltip="matTooltip" [(matTooltip)]="sendAnswerTooltip">send</mat-icon>
                  </mat-form-field>
                </form>
              </mat-grid-tile>

              <!--URL Justified Answer type-->

              <ng-template #elseBlock>
                <ng-container *ngIf="gameService.challenge.answer_type === 'justify'; else elseBlock2">
                  <mat-grid-tile colspan="9" rowspan="3" >
                    <form class="answer-form" [formGroup]="answerForm">
                      <mat-form-field class="input-full-width answerField">
                        <mat-label>{{ "GAME.ANSWER_TYPE.JUSTIFY" | translate }}</mat-label>
                        <input matInput formControlName="answer">
                        <mat-icon matSuffix (click)="sendAnswer()" class="submit-icon" #tooltip="matTooltip" [(matTooltip)]="sendAnswerTooltip">send</mat-icon>
                      </mat-form-field>
                    </form>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>

                  <mat-grid-tile colspan="8" rowspan="1">
                    <p>{{ "GAME.QUESTION_BAR.FAVORITE" | translate }}:</p>
                  </mat-grid-tile>
                  <!--
                  <mat-grid-tile colspan="8" rowspan="1" *ngIf="!router.url.includes('view-page')">
                    Empty!
                  </mat-grid-tile>
                  -->

                  <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>

                  <mat-grid-tile colspan="1" rowspan="1">
                    <button mat-icon-button (click)="favoriteActionSingle()" *ngIf="router.url.includes('view-page') || this.answerForm.value.url1" style="color: #FF9800 !important"
                            #tooltip="matTooltip"
                            [(matTooltip)]="currentTooltip"
                            matTooltipPosition="right"
                            [ngSwitch]="favPage"
                    >
                      <mat-icon *ngSwitchCase="false">star_border</mat-icon>
                      <mat-icon *ngSwitchCase="true">star</mat-icon>
                    </button>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="6" rowspan="1">
                    <form class="answer-form" [formGroup]="answerForm">
                      <mat-form-field class="input-full-width urlField">
                        <input matInput formControlName="url1" [readonly]="true">
                      </mat-form-field>
                    </form>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
                  <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>

<!--URL2
                  <mat-grid-tile colspan="7" rowspan="1">
                    <form class="answer-form" [formGroup]="answerForm">
                      <mat-form-field class="input-full-width urlField">
                        <input matInput formControlName="url2" [readonly]="true">
                      </mat-form-field>
                    </form>
                  </mat-grid-tile>
-->
                </ng-container>
              </ng-template>

              <!--URL Answer type-->

              <ng-template #elseBlock2>

                <mat-grid-tile colspan="6" rowspan="1">
                  <p style="margin-top: 5%;">{{ "GAME.QUESTION_BAR.FAVORITE" | translate }}:</p>
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1">
                  <button mat-icon-button (click)="favoriteActionSingle()" *ngIf="router.url.includes('view-page') || this.answerForm.value.url1" style="color: #FF9800 !important"
                          #tooltip="matTooltip"
                          [(matTooltip)]="currentTooltip"
                          matTooltipPosition="right"
                          [ngSwitch]="favPage"
                  >
                    <mat-icon *ngSwitchCase="false">star_border</mat-icon>
                    <mat-icon *ngSwitchCase="true">star</mat-icon>
                  </button>
                </mat-grid-tile>

                <mat-grid-tile colspan="6" rowspan="1">
                  <form class="answer-form" [formGroup]="answerForm">
                    <mat-form-field class="input-full-width urlField">
                      <input matInput formControlName="url1" [readonly]="true">
                    </mat-form-field>
                  </form>
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1">
                  <mat-icon matSuffix (click)="sendAnswer()" class="submit-icon" #tooltip="matTooltip" [(matTooltip)]="sendAnswerTooltip">send</mat-icon>
                </mat-grid-tile>

<!--URL2
                <mat-grid-tile colspan="5" rowspan="1"></mat-grid-tile>


                <mat-grid-tile colspan="9" rowspan="1">
                  <form class="answer-form" [formGroup]="answerForm">
                    <mat-form-field class="input-full-width urlField">
                      <input matInput formControlName="url2" [readonly]="true">
                    </mat-form-field>
                  </form>
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1">
                  <mat-icon matSuffix (click)="sendAnswer()" class="submit-icon" #tooltip="matTooltip" [(matTooltip)]="sendAnswerTooltip">send</mat-icon>
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>
-->
              </ng-template>

              <!--HINT BUTTON CODE
              <mat-grid-tile colspan="6" rowspan="1">
                <button *ngIf="true" (click)="showHint()" mat-raised-button color="primary" class="hint-input" >
                  <mat-icon style="margin-right: 3px" matPrefix>help</mat-icon>
                  {{"GAME.HINT.BUTTON" | translate}}
                </button>
              </mat-grid-tile>
              -->
            </mat-grid-list>
          </div>
        </mat-tab>

      </mat-tab-group>


    </div>
  </div>

</div>
