<mat-tab-group id="mat-tab" (selectedIndex)=1 (click)="tabhideshow($event)" (selectedTabChange)="onTabChanged()">
    <ng-template mat-tab-header>
        hola
    </ng-template>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="tab-icon">{{1}}</i>
      </ng-template>
      <div class="panel-container" >
        <mat-grid-list cols="3" rowHeight="103px">
          <mat-grid-tile class="question-text" colspan="2" rowspan="2" >
            {{gameService.challenge.question}}
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="2">
            <div>
              <mat-progress-spinner class="spinner" diameter=120 mode=determinate [value]="value"> </mat-progress-spinner>
              <div class="counter" [ngStyle]="{'left':leftValue}">{{timeLeft}}</div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="3" rowspan="1">
            <form class="answer-form" [formGroup]="answerForm">
              <mat-form-field class="input-full-width">
                <input matInput formControlName="answer" placeholder="Entrega tu respuesta...">
                <mat-icon matSuffix (click)="sendAnswer()" class="submit-icon">send</mat-icon>
              </mat-form-field>
              <button class="hidden-btn" (click)="sendAnswer()"></button>
              <button *ngIf="true" (click)="showHint()" mat-raised-button color="primary" class="hint-input" >
                <mat-icon style="margin-right: 3px" matPrefix>help</mat-icon>
                Dame una pista
              </button>
              <!-- <button mat-raised-button (click)="finishChallenge()" color="accent" class="hint-input" >
                <mat-icon style="margin-right: 3px" matPrefix>help</mat-icon>
                NextChallenge
              </button> -->
            </form>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
  </mat-tab-group>
