<mat-card class="study-creation-card">
  <mat-card-header>
    <mat-card-title>{{ "STUDY.TITLE" | translate }}</mat-card-title>
    <mat-card-subtitle>{{ "STUDY.SUBTITLE" | translate }}:</mat-card-subtitle>
	</mat-card-header>	
	<mat-card-content>
		<form [formGroup]="studyForm">
			<mat-grid-list cols="12">
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "STUDY.FORM.FIELDS.NAME" | translate }}</mat-label>
						<input matInput formControlName="name" required #inputName maxlength="50">
						<mat-hint align="end">{{inputName.value?.length || 0}}/50</mat-hint>
						<mat-error *ngIf="studyFormControls.name.hasError('required')">
							{{ "ERRORS.REQUIRED" | translate }}
						</mat-error>
						<mat-error *ngIf="studyFormControls.name.hasError('minlength')">
							{{ "ERRORS.MIN_LENGTH_3" | translate }}
						</mat-error>
						<mat-error *ngIf="studyFormControls.name.hasError('maxlength')">
							{{ "ERRORS.MAX_LENGTH_50" | translate }}
						</mat-error>												
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "STUDY.FORM.FIELDS.DESCRIPTION" | translate }}</mat-label>
						<input matInput formControlName="description" #inputDescription maxlength="250" ng-required="true">
						<mat-hint align="end">{{inputDescription.value?.length || 0}}/250</mat-hint>
						<mat-error *ngIf="studyFormControls.description.hasError('minlength')">
							{{ "ERRORS.UNREQUIRED_MIN_LENGTH_10" | translate }}
						</mat-error>
						<mat-error *ngIf="studyFormControls.description.hasError('maxlength')">
							{{ "ERRORS.MAX_LENGTH_250" | translate }}
						</mat-error>							
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>	
			<mat-card-header>
				<mat-card-subtitle style="margin-bottom: 0%;">{{ "ADMIN.CHALLENGES.COOLDOWN" | translate }}:</mat-card-subtitle>
			</mat-card-header>
			<mat-grid-list cols="12">
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "ADMIN.CHALLENGES.HOURS" | translate }}</mat-label>
						<mat-select formControlName="hours">
							<mat-option *ngFor="let hour of hours" [value]="hour"> {{ hour }} </mat-option>
						</mat-select>	
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "ADMIN.CHALLENGES.MINUTES" | translate }}</mat-label>
						<mat-select formControlName="minutes">
							<mat-option *ngFor="let minute of minutes" [value]="minute"> {{ minute }} </mat-option>
						</mat-select>
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>	
			<mat-grid-list cols="12">
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "ADMIN.CHALLENGES.MAX_PER_INTERVAL" | translate }}</mat-label>
						<mat-select formControlName="maxPerInterval">
							<mat-option *ngFor="let maxPer of maxPers" [value]="maxPer"> {{ maxPer }} </mat-option>
						</mat-select>	
					</mat-form-field>
				</mat-grid-tile>
				<!--mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>Idioma *</mat-label>
						<mat-select formControlName="language">
							<mat-option *ngFor="let leng of languages" [value]="leng._id"> {{ leng.name }} </mat-option>
						</mat-select>
						<mat-error *ngIf="studyFormControls.language.hasError('required')">
							{{ "ERRORS.REQUIRED" | translate }}
						</mat-error>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>Nivel *</mat-label>
						<mat-select formControlName="levels" multiple>
							<mat-option *ngFor="let level of levels" [value]="level">{{level}}</mat-option>
						</mat-select>
						<mat-error *ngIf="studyFormControls.levels.hasError('required')">
							{{ "ERRORS.REQUIRED" | translate }}
						</mat-error>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>Competencia *</mat-label>
						<mat-select formControlName="competences" multiple>
							<mat-option *ngFor="let competence of competences" [value]="competence._id">{{competence.name}}</mat-option>
						</mat-select>
						<mat-error *ngIf="studyFormControls.competences.hasError('required')">
							{{ "ERRORS.REQUIRED" | translate }}
						</mat-error>
					</mat-form-field>
				</mat-grid-tile-->
			</mat-grid-list>
			<!--Cambio Vale: Se agrega select para manejar la privacidad de un estudio y para agregar colaboradores-->
			
		
		<mat-card-header>
				<mat-card-subtitle style="margin-bottom: 0%;">Seleccione las opciones de colaboración de su estudio</mat-card-subtitle>
			</mat-card-header>
			<mat-grid-list cols="12">
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<!--mat-label>{{ "ADMIN.CHALLENGES.HOURS" | translate }}</mat-label-->
						<mat-label>Privacidad *</mat-label>
						<mat-select formControlName="privacy">
							<mat-option *ngFor="let priva of privacies" [value]="priva.value"> {{ priva.privacy }} </mat-option>
						</mat-select>
						<mat-error *ngIf="studyFormControls.privacy.hasError('required')">
							{{ "ERRORS.REQUIRED" | translate }}
						</mat-error>
					</mat-form-field>
				</mat-grid-tile>
			<mat-grid-tile colspan="6">
				<mat-slide-toggle (change)="changeStatus($event)" color="primary">Agregar colaboradores al estudio</mat-slide-toggle>
			</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list *ngIf="collaborator_status" cols="12" rowspan="2">
				<mat-grid-tile colspan="10">
					<mat-form-field style="width: 92%;">
						<mat-label>Agregar Colaboradores</mat-label>
						<mat-chip-list #chipListColl aria-label="Collaborators Selection" formControlName="collaborators">
							<mat-chip
								*ngFor="let collaborator of collaborators_selected"
								(removed)="removeCollaborator(collaborator)">
								{{collaborator.email}}
									<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
						<input
							#collaboratorsInput
							placeholder="Escriba el correo y presione Enter o Añadir para agregarlo"
							type="email" 
							formControlName="collaborators"
							[matChipInputFor]="chipListColl"
							(matChipInputTokenEnd)="verifyCollaborator()">
						</mat-chip-list>
						<mat-error *ngIf="studyFormControls.collaborators.hasError('email')">
							Ingrese un email válido
						</mat-error>
						<mat-error *ngIf="studyFormControls.collaborators.hasError('notThisUser')">
							El usuario que creó el estudio no puede añadirse como colaborador
						</mat-error>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="1">
					<button mat-flat-button [disabled]="!studyFormControls.collaborators.valid || !studyFormControls.collaborators.value" (click)="verifyCollaborator()" class="addButton">Añadir <mat-icon>add</mat-icon></button>
				</mat-grid-tile>
			</mat-grid-list>

			<mat-card-header>
				<mat-card-subtitle style="margin-bottom: 0%;">Añada etiquetas relacionadas a su estudio</mat-card-subtitle>
			</mat-card-header>
			<mat-grid-list  cols="12">
				<mat-grid-tile colspan="10">
					<mat-form-field style="width: 92%;">
						<mat-label>Agregar Etiquetas</mat-label>
						<mat-chip-list #chipListTags aria-label="Tags Selection" formControlName="tags">
							<mat-chip
								*ngFor="let tag of tags"
								(removed)="removeTag(tag)">
								{{tag}}
									<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
						<input
							#tagsInput
							placeholder="Escriba una etiqueta y presione Enter o Añadir para añadirla"
							type="text" 
							formControlName="tags"
							[matChipInputFor]="chipListTags"
							(matChipInputTokenEnd)="addTag()">
						</mat-chip-list>
						<mat-error *ngIf="studyFormControls.tags.hasError('minlength')">
							Ingrese una etiqueta válida
						</mat-error>
						<mat-error *ngIf="studyFormControls.tags.hasError('maxlength')">
							La etiqueta no puede tener más de 15 caracteres
						</mat-error>
						<mat-error *ngIf="studyFormControls.tags.hasError('tagExist')">
							La etiqueta ya se encuentra en la lista
						</mat-error>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="1">
					<button mat-flat-button [disabled]="!studyFormControls.tags.valid || !studyFormControls.tags.value" (click)="addTag()" class="addButton">Añadir <mat-icon>add</mat-icon></button>
				</mat-grid-tile>
			</mat-grid-list>
<!--Fin Cambio Vale-->				
		</form>	
		<mat-card-header>
			<mat-card-subtitle style="margin-bottom: 0%;">{{ "ADMIN.CHALLENGES.IMAGE" | translate }}:</mat-card-subtitle>
		</mat-card-header>
		<mat-grid-list cols="12">
			<mat-grid-tile colspan="6">
				<input type="file"
					id="file"
					(change)="handleFileInput($event.target.files)">

			</mat-grid-tile>
		</mat-grid-list>	
	</mat-card-content>		
	<mat-card-actions class="cardActions" *ngIf="!loading; else elseBlock">
		<button mat-raised-button class="saveButton" [disabled]="!studyForm.valid" (click)="createStudy()">
			{{ "BUTTONS.SAVE" | translate }}
		</button>
		<button mat-raised-button class="clearButton" (click)="resetForm()">
			{{ "BUTTONS.CLEAR" | translate }}
		</button>
	</mat-card-actions>	
	<ng-template #elseBlock>
		<div class="spinnerCard">
			<mat-progress-spinner color="primary" mode="indeterminate" class="mb-4">
			</mat-progress-spinner>
			<span>
				{{ "ADMIN.STUDIES.LOADING" | translate }}
			</span>
		</div>
	</ng-template>
	<div class="mt-2"></div>
</mat-card>