.study-creation-card{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}
.mat-form-field{
	width: 85%;
}
.checkbox-section{
	margin-top: 5%;
	text-align: center;
}
.checkbox{
	margin: 0 10px;
}
.cardActions{
	text-align: center;
	margin-bottom: 5%;
}
.saveButton{
	background-color: #4CAF50;
	color: #FFFFFF;
}
.clearButton{
	background-color: #FF9800;
	color: #FFFFFF;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}