<mat-card class="documents-upload-card">
  <mat-card-header>
    <mat-card-title>{{ "UPLOAD.TITLE" | translate }}</mat-card-title>
    <mat-card-subtitle>{{ "UPLOAD.SUBTITLE" | translate }}:</mat-card-subtitle>
	</mat-card-header>	
	<mat-card-content>
		<form [formGroup]="uploadForm">
			<mat-grid-list cols="12">
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "UPLOAD.FORM.FIELDS.NAME" | translate }}</mat-label>
						<input matInput formControlName="docName" required #inputName maxlength="50">
						<mat-hint align="end">{{inputName.value?.length || 0}}/50</mat-hint>
						<mat-error *ngIf="uploadFormControls.docName.hasError('required')">
							{{ "ERRORS.REQUIRED" | translate }}
						</mat-error>
						<mat-error *ngIf="uploadFormControls.docName.hasError('minlength')">
							{{ "ERRORS.MIN_LENGTH_3" | translate }}
						</mat-error>
						<mat-error *ngIf="uploadFormControls.docName.hasError('maxlength')">
							{{ "ERRORS.MAX_LENGTH_50" | translate }}
						</mat-error>												
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "UPLOAD.FORM.FIELDS.TYPE_OF" | translate }}</mat-label>
						<mat-select formControlName="docType" required>
							<mat-option *ngFor="let type of docTypes" [value]="type.typeOf">{{type.show}}</mat-option>
						</mat-select>
						<mat-error *ngIf="uploadFormControls.docType.hasError('required')">
							{{ "ERRORS.SELECTION_REQUIRED" | translate }}
						</mat-error>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "UPLOAD.FORM.FIELDS.TITLE" | translate }}</mat-label>
						<input matInput formControlName="title" required #inputDocType maxlength="50">
						<mat-hint align="end">{{inputDocType.value?.length || 0}}/50</mat-hint>
						<mat-error *ngIf="uploadFormControls.title.hasError('required')">
							{{ "ERRORS.REQUIRED" | translate }}
						</mat-error>
						<mat-error *ngIf="uploadFormControls.title.hasError('minlength')">
							{{ "ERRORS.MIN_LENGTH_3" | translate }}
						</mat-error>
						<mat-error *ngIf="uploadFormControls.title.hasError('maxlength')">
							{{ "ERRORS.MAX_LENGTH_50" | translate }}
						</mat-error>						
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "UPLOAD.FORM.FIELDS.URL" | translate }}</mat-label>
						<input matInput formControlName="url" required #inputURL maxlength="200">
						<mat-hint align="end">{{inputURL.value?.length || 0}}/200</mat-hint>
						<mat-error *ngIf="uploadFormControls.url.hasError('required')">
							{{ "ERRORS.REQUIRED" | translate }}
						</mat-error>
						<mat-error *ngIf="uploadFormControls.url.hasError('minlength')">
							{{ "ERRORS.MIN_LENGTH_5" | translate }}
						</mat-error>
						<mat-error *ngIf="uploadFormControls.url.hasError('maxlength')">
							{{ "ERRORS.MAX_LENGTH_200" | translate }}
						</mat-error>		
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "UPLOAD.FORM.FIELDS.DOMAIN" | translate }}</mat-label>
						<input matInput formControlName="domain" #inputDomain maxlength="50" ng-required="true">
						<mat-hint align="end">{{inputDomain.value?.length || 0}}/50</mat-hint>
						<mat-error *ngIf="uploadFormControls.domain.hasError('minlength')">
							{{ "ERRORS.UNREQUIRED_MIN_LENGTH_10" | translate }}
						</mat-error>						
						<mat-error *ngIf="uploadFormControls.domain.hasError('maxlength')">
							{{ "ERRORS.MAX_LENGTH_50" | translate }}
						</mat-error>						
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "UPLOAD.FORM.FIELDS.LOCALE" | translate }}</mat-label>
						<input matInput formControlName="locale" #inputLocale maxlength="50" ng-required="true">
						<mat-hint align="end">{{inputLocale.value?.length || 0}}/50</mat-hint>
						<mat-error *ngIf="uploadFormControls.locale.hasError('minlength')">
							{{ "ERRORS.UNREQUIRED_MIN_LENGTH_10" | translate }}
						</mat-error>
						<mat-error *ngIf="uploadFormControls.locale.hasError('maxlength')">
							{{ "ERRORS.MAX_LENGTH_50" | translate }}
						</mat-error>						
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="6">
					<mat-form-field>
						<mat-label>{{ "UPLOAD.FORM.FIELDS.TASK" | translate }}</mat-label>
						<input matInput formControlName="task" #inputTask maxlength="50" ng-required="true">
						<mat-hint align="end">{{inputTask.value?.length || 0}}/50</mat-hint>
						<mat-error *ngIf="uploadFormControls.task.hasError('minlength')">
							{{ "ERRORS.UNREQUIRED_MIN_LENGTH_10" | translate }}
						</mat-error>						
						<mat-error *ngIf="uploadFormControls.task.hasError('maxlength')">
							{{ "ERRORS.MAX_LENGTH_50" | translate }}
						</mat-error>									
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>
			<mat-grid-list cols="12" class="checkbox-section">
				<mat-checkbox class="checkbox" formControlName="checked" required>{{ "UPLOAD.FORM.FIELDS.CHECK" | translate }}</mat-checkbox>      
				<mat-error *ngIf="uploadFormControls.checked.hasError('required') && uploadFormControls.checked.touched">
					{{ "ERRORS.CHECK_REQUIRED" | translate }}
				</mat-error>				
			</mat-grid-list>	
		</form>	
	</mat-card-content>		
	<mat-card-actions class="cardActions">
		<button mat-raised-button class="saveButton" [disabled]="!uploadForm.valid">
			{{ "BUTTONS.SAVE" | translate }}
		</button>
		<button mat-raised-button class="clearButton" (click)="resetForm()">
			{{ "BUTTONS.CLEAR" | translate }}
		</button>
	</mat-card-actions>	
</mat-card>