<div class="container">
  <form [formGroup]="assentForm">
    <app-consent [mode]="'assent'"></app-consent>
    <mat-checkbox formControlName="assent" required>{{"SIGNUP.ASSENT.ACCEPT_TEXT" | translate}}</mat-checkbox>
    <div *ngIf="assentFormControls.assent.invalid && (assentFormControls.assent.dirty || assentFormControls.assent.touched)">
      <mat-error *ngIf="assentFormControls.assent.hasError('required')">
        {{"SIGNUP.FORM.ERROR.ASSENT" | translate}}
      </mat-error>
    </div>
</form>
<button mat-raised-button color="primary" class="saveButton" (click)="save()" [disabled]="!assentForm.valid">
  {{ "BUTTONS.SAVE" | translate }}
</button>
</div>
