<app-header></app-header>
<div class="main-content">
  <mat-card class="card mat-elevation-z8">
	  <mat-card-title>{{"RECOVERY.TITLE" | translate}}</mat-card-title>
  	<mat-card-content>
    	<form [formGroup]="forgotPasswordForm">
      	<p>
        	<mat-form-field style="margin-top: 5%">
            <mat-label>{{"LOGIN.EMAIL" | translate}}</mat-label>
          	<input type="text" matInput formControlName="email">
						<mat-error *ngIf="forgotPasswordFormControls.email.hasError('required')">
							{{ "ERRORS.REQUIRED" | translate }}
						</mat-error>
						<mat-error *ngIf="forgotPasswordFormControls.email.hasError('email')">
							{{ "ERRORS.MAIL_FORMAT" | translate }}
						</mat-error>						
	        </mat-form-field>
  	    </p>
				<div class="button">
					<button type="button" class="mr-2" (click)="goBack()" color="warn" mat-raised-button>{{"RECOVERY.CANCEL" | translate}}</button>
					<button type="button" (click)="recoverPassword()" [disabled]="!forgotPasswordForm.valid" color="primary" mat-raised-button>{{"RECOVERY.SEND" | translate}}</button>
      	</div>
    	</form>
  	</mat-card-content>
	</mat-card>
</div>
