<div class="footer" role="banner">
    <a href="https://www.usach.cl/"><img class="image-span" style="width: 8%; margin-right: 1%;" src="assets/USACH.png"></a>
    <a href="https://www.conicyt.cl/fondecyt/"><img class="image-span" style="width: 10%;" src="assets/FONDECYT.png"></a>
    <a href="https://www.informatica.usach.cl/"><img class="image-span" style="width: 15%;" src="assets/DIINFblanco.png"></a>
    <a href="http://www.interaction-lab.info/"><img class="image-span" style="width: 15%;" src="assets/ITOblanco.png"></a>
    <a href="http://tutelage.interaction-lab.info/"><img class="image-span" style="width: 15%;" src="assets/TUTELAGEblanco.png"></a>
</div>
  

  