.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 7%;
    display: flex;
    align-items: center;
    background-color: #181818;
    color: white;
    font-weight: 600;
  }


.mat-icon{
  margin-right: 5px;
}


  .a-1{
    margin-left: 1%;
    font-size: calc(0.5em + 1vmin);
    margin-right: 2.5%;
    color: #9d9d9d;
    letter-spacing: 0.2em;
    text-decoration: none;
    font-family: Candara, sans-serif;
    font-weight: lighter;
  }

  .a-1:hover {
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 20px #888585, 0 0 30px #888585, 0 0 40px #888585, 0 0 50px #888585, 0 0 60px #888585, 0 0 70px #888585, 0 0 80px #888585;
  }


  .spacer {
    flex: 1;
  }

  .marked{
    color: white;
  }

  .title-span {
    margin-left: 1.5%;
    width: 10%;
    margin-right: 3%;
  }

  .image-span {
    margin-left: 1.5%;
    width: 80px;
    margin-right: 3%;
  }

  .name-span {
    margin-left: 0.5%;
    font-size: calc(0.6em + 1vmin);
    text-decoration: none;
    color: white;
    margin-right: 0.5%;
    font-family: Ubuntu;
    letter-spacing: 0.2em;
    font-family: Comic Sans MS, sans-serif;
  }
  .user-image{
    width: 50px;
  }
  .home{
    font-size: 40px;
    vertical-align: top;

  }

  .menuitem{
    font-size: small;
    font-family: Comic Sans MS, sans-serif;
  }
  .notificationMenu{
    font-size: small;
    font-family: Comic Sans MS, sans-serif;
    padding-bottom: 3px !important;
    padding-top: 10px !important;
  }

  .ngbSlide{
    color: #666666;
  }
  .picsum-img-wrapper{
    margin-left: 10px;
    margin-right: 10px;

  }

  .carousel-control-next, .carousel-control-prev {
    color: #666666;
  }

.plyr {
  align-items: center;
  direction: ltr;
  display: flex;
  max-width: 100%;
  min-width: 200px;
  position: relative;
}

.carousel-control-prev-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')
}
.carousel-control-next-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
}
.acceptButton{
  background-color: #4CAF50;
  color: #FFFFFF;
  transform: scale(0.8);
}
.rejectButton{
  transform: scale(0.8);
}

.statusInfo{
  font-size: 13px ;
  margin-bottom: 3% !important; 
  margin-top:-2% !important;
}

.dateInfo{
  font-size: 11px;
  margin-bottom: 2%; 
  margin-top:1%;
}
.userInfo{
  display: flex; 
  padding-bottom: 0% !important;
  align-items: center;
  margin-top: -5%;
}

.date-notification-info{
  display: flex; 
  padding-bottom: 0% !important;
  margin-top: -1%;
  margin-bottom: 2%;
  align-items: center;
  justify-content: space-between;
}
.mat-menu-panel {
  max-width: 305px !important;
}
.button-panel button{
  margin-right: 0px;
  padding: 0 5px;
}