<div class="header" role="banner">

  <!--
  <a class="title-span" *ngIf="router.url.toString().includes('session'); else elseBlock" [routerLink]="['/session/search']">NEURONE <mat-icon class="home">home</mat-icon></a>
  <ng-template #elseBlock>
    <a class="title-span" [routerLink]="['/user-profile']">NEURONE <mat-icon class="home">home</mat-icon></a>
  </ng-template>
  -->

  <!--Student Implementation-->
  <a class="title-span" *ngIf="isLoggedIn && user.role.name === 'student' && router.url.toString().includes('view-page')"
    (click)="goBack()"
    #tooltip="matTooltip"
    [(matTooltip)]="homeTooltip"
    matTooltipPosition="right"
  >
    NEURONE<mat-icon class="home">home</mat-icon>
  </a>

  <!--ADMIN Implementation-->
  <a class="title-span" *ngIf="isLoggedIn && user.role.name === 'admin'" [routerLink]="['/admin_panel']">HOME <mat-icon class="home">home</mat-icon></a>

  <div class="spacer"></div>
  <button *ngIf="isLoggedIn && user.role.name === 'student' && !(router.url.toString().includes('session') || router.url.toString().includes('start'))" mat-icon-button [matMenuTriggerFor]="tabledriven" (click)="updateNotifications()">
    <mat-icon [matBadge]="notificationsN" matBadgeColor="warn">notifications</mat-icon>
  </button>

  <mat-menu #tabledriven="matMenu">
    <button *ngIf="menuItems?.length == 0" mat-menu-item >Vacío</button>
    <ng-container *ngFor="let item of menuItems">
      <mat-card class="menuitem">
        <p *ngIf=!item.templateName ><mat-icon>check</mat-icon>{{ item.messageES }} </p>
        <p *ngIf=!item.templateName>{{item.date.substring(0,10)}}</p>
      </mat-card>
      <span *ngIf=item.elementRef  mat-menu-item [matMenuTriggerFor]=item.elementRef><mat-icon>check</mat-icon>{{ item.messageES }}</span>
    </ng-container>
  </mat-menu>

  <button   *ngIf="isLoggedIn && !(router.url.toString().includes('session') || router.url.toString().includes('start'))" (click)="modalHelp(content)" mat-button>	<mat-icon>help_outline</mat-icon> </button>
  <a class="name-span"  href="/user-profile" *ngIf="isLoggedIn && user.role.name === 'student' && !(router.url.toString().includes('session') || router.url.toString().includes('start'))">

    <img *ngIf="user.image_url" [src]="user.image_url" class="user-image">
    <img *ngIf="!user.image_url" src="/assets/img_avatar.png" class="user-image">
    {{user.names}}
  </a>
  <button (click)="logout()" mat-button *ngIf="isLoggedIn"><mat-icon>login</mat-icon> {{"LOGOUT.LOGOUT" | translate}}</button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{"HELP.INSTRUCTIONS_TITLE" | translate}}</h4>
    <button *ngIf="videoModal" type="button" class="close" aria-label="Close" (click)="finished?modal.close('Close click'):''">
      <span aria-hidden="true">&times;</span>
    </button>
    <button *ngIf="!videoModal" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >

    <div class="videoModal" *ngIf="videoModal">
      <plyr style="display: block; " plyrType="video" plyrTitle="Audio" [plyrPlaysInline]="true" [plyrSources]="videoSources" (plyrInit)="initPlayer($event)" (plyrPlay)="played($event)"
            (plyrEnded)="playerEnded()" (plyrTimeUpdate)="captureTimeAndAdvanceSlide()"></plyr>

    </div>

    <div *ngIf="!videoModal">
      <ngb-carousel #carousel [interval]="10000" *ngIf="images" (slide)="$event">
        <ng-template  ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="'/assets/help/'+ image + '.svg'" alt="Random first slide">
          </div>
          <div class="carousel-caption">
          </div>
        </ng-template>
      </ngb-carousel>

    </div>


  </div>
  <div class="modal-footer" *ngIf="videoModal">
    <button type="button" class="btn btn-light {{ finished?'':'disabled' }}" (click)="finished?modal.close('Close click'):''" >Close</button>
  </div>
  <div class="modal-footer" *ngIf="!videoModal">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

