.mat-list-icon {
	color: rgba(0, 0, 0, 0.54);
}
.study-display-card{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}
::ng-deep .mat-list .mat-list-item .mat-line{
	word-wrap: break-word;
 	white-space: pre-line;
}
.challenge-cover{
	background-image: url('../../../assets/study-images/Study00.jpg');
	background-size: cover;
}
.options{
  text-align: right;
  padding-right: 5%;
  padding-left: 5%;
}
.options button{
  margin: 10px;
}
.emptyText{
  padding-left: 15px
}
.actions{
	justify-content: flex-end;
}
::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
	align-items: center;
	justify-content: flex-start;
}

.header-challenge mat-card-title{
  color: white;
  margin-right: 0px;
  font-size: 18px;
  padding-bottom: 10px;
  border-radius: 30px 30px 0px 0px;
  padding-top: 10px;
  padding-left: 40px;
  margin-bottom: 10px;
}

.div buttons{
  text-align: right;
}
.header-challenge div.col-md-8{
  padding-right: 0px;
}
.header-challenge div.col-md-4{
  padding-left: 0px;
}

.header-challenge mat-card-subtitle{
  margin-right: 58px;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 0px;
  margin-left: 0px;
  padding-bottom: 14px;
  margin-bottom: 0px;
  text-align: right;
  border-bottom: solid 1px #EEEEEE;
}
.mat-card-content{
  margin-right: 40px;
  margin-left: 47px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-right: 2px;
  margin-bottom: 0px;
  border-left: solid 1px #EEEEEE;
  border-right: solid 1px #EEEEEE;
  display: flex;
  flex-direction: row;
}

.mat-card-title{
  display: flex;
  flex-direction: row;
}
.mat-card-actions{
  text-align: right;
  margin-right: 40px;
  border-bottom: solid 1px #CCCCCC;
  border-left: solid 1px #EEEEEE;
  border-right: solid 1px #EEEEEE;
  margin-left: 47px;
  padding-left: 10px;
  margin-top: 0px;
  padding-top: 0px;
}

.webPage{
  color: white;
  background-color: dodgerblue;
}
.image{
  color: white;
  background-color: darkorchid;
}
.document{
  color: white;
  background-color: darkorange;
}
.video{
  color: white;
  background-color: red;
}

.webPageButton{
  color: dodgerblue;
}
.imageButton{
  color: darkorchid;
}
.documentButton{
  color: darkorange;
}
.videoButton{
  color: red;
}

.aligned-with-icon{
  position: absolute;
  margin-top: 3px;
  margin-left: 5px; /* optional */
}

.mat-expansion-panel {
  margin-right: 10px;
}

.searchEngine{
  height: 100%;
  margin-top:40px;
}

.registerLink{
  font-weight: 400;
}

.desafios{
  top-padding:20px;
  top-margin:20px;
}

.actionButton{
  margin: 2%;
}

.manage{
  margin-top: 5%;
}

.spinnerCard{
	text-align: -webkit-center;
}

.alert-warning{
  width: 100%;
  text-align: center;
}

table {
  width: 100%;
}

.loadingUsers{
  align-content: center;
  text-align: center;
}

.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 20), 0 8px 10px 1px rgba(0, 0, 0,  14), 0 3px 14px 2px rgba(0, 0, 0,12);
}
