<mat-card class="study-display-card">
  <mat-grid-list cols="24">
    <mat-grid-tile colspan="12">
      <mat-card-header>
        <mat-card-title *ngIf="study">{{ "ADMIN.STUDIES.HEADER" | translate }}: {{study.name}}</mat-card-title>
      </mat-card-header>
    </mat-grid-tile>
    <mat-grid-tile colspan="4"></mat-grid-tile>
    <mat-grid-tile colspan="8">
      <button mat-raised-button class="actionButton" color="primary" (click)="showStudyUpdateDialog()">{{ "BUTTONS.EDIT_STUDY" | translate }} <mat-icon>edit</mat-icon></button>
      <button mat-raised-button class="actionButton" color="warn" (click)="confirmStudyDelete(study._id)">{{ "BUTTONS.DELETE_STUDY" | translate }} <mat-icon>delete</mat-icon></button>
    </mat-grid-tile>
    <mat-grid-tile colspan="24">
      <mat-card-header>
        <mat-card-subtitle class="registerLink">{{ "ADMIN.STUDIES.REGISTER_LINK" | translate }}: {{ registerLink }}</mat-card-subtitle>
      </mat-card-header>
    </mat-grid-tile>
    <mat-grid-tile colspan="24" *ngIf="dummyExists">
      <mat-card-header>
        <mat-card-subtitle class="registerLink">{{ "ADMIN.STUDIES.DUMMY1" | translate }} {{ study._id+"@dummy.cl" }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> {{ "ADMIN.STUDIES.DUMMY5" | translate }} dummy12345 </mat-card-content>
      <button mat-raised-button class="actionButton" color="primary" (click)="renewDummy()">{{ "ADMIN.STUDIES.DUMMY2" | translate }} <mat-icon>autorenew</mat-icon></button>
    </mat-grid-tile>
    <mat-grid-tile colspan="24">
      <div class="alert alert-warning" role="alert">
        <strong>{{ "ADMIN.STUDIES.DUMMY_ALERT_START" | translate }}:</strong> {{ "ADMIN.STUDIES.DUMMY_ALERT_END" | translate }}
      </div>     
    </mat-grid-tile>
    <mat-grid-tile colspan="24" *ngIf="!dummyExists">
      <mat-card-header>
        <mat-card-subtitle class="registerLink">{{ "ADMIN.STUDIES.DUMMY3" | translate }}</mat-card-subtitle>
        <button mat-raised-button class="actionButton" color="primary" (click)="createDummy()">{{ "ADMIN.STUDIES.DUMMY4" | translate }} </button>
      </mat-card-header>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- Nuevo diseño de Tabs -->
  <mat-tab-group mat-align-tabs="end">
    <mat-tab >
      <ng-template mat-tab-label>
        <span (click)="reloadChallenges()"> {{'ADMIN.TABS.CHALLENGES' | translate }} </span>
      </ng-template>
      <ng-template matTabContent>
        <div class="row ">
          <div class="col-md-12" *ngFor="let challenge of challenges; let index = index;">
            <br>
            <mat-card-header class="header-challenge">
              <div class="col-md-8">
                <mat-card-title class="{{getClass(challenge.question_type)}}">
                  <div class="col-md-8" style="padding-top: 5px">
                    {{ "ADMIN.CHALLENGES.QUESTION" | translate }}: {{challenge.question}}
                  </div>
                  <div class="col-md-4 buttons" style="text-align: right">
                    <button mat-button (click)="showChallengeUpdateDialog(challenge)">{{ "BUTTONS.EDIT" | translate }} <mat-icon>edit</mat-icon></button>
                    <button mat-button (click)="confirmChallengeDelete(challenge._id)">{{ "BUTTONS.DELETE" | translate }} <mat-icon>delete</mat-icon></button>
                  </div>

                </mat-card-title>
              </div>
              <div class="col-md-4">
                <mat-card-subtitle>{{ "ADMIN.CHALLENGES.QUESTION_TYPE" | translate }}: {{getClassQuestion(challenge.question_type)| translate }} </mat-card-subtitle>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div class="col-md-6">
                {{ "ADMIN.CHALLENGES.ANSWER" | translate }}: {{challenge.answer}}
              </div>
              <div class="col-md-3">
                <mat-icon>alarm</mat-icon><span class="aligned-with-icon">{{ "ADMIN.CHALLENGES.SECONDS" | translate }}: {{challenge.seconds}} </span>
              </div>
              <div class="col-md-3">
                <mat-icon>cached</mat-icon><span class="aligned-with-icon">{{ "ADMIN.CHALLENGES.MAX_ATTEMPTS" | translate }}: {{challenge.max_attempts}}</span>
              </div>
            </mat-card-content>
            <mat-card-content>
              <div class="col-md-6">
                {{ "ADMIN.CHALLENGES.HINT" | translate }}: {{challenge.hint}}
              </div>
              <div class="col-md-3">
                {{ "ADMIN.CHALLENGES.CREATED_AT" | translate }}: {{formatDate(challenge.createdAt)}}
              </div>
              <div class="col-md-3">
                {{ "ADMIN.CHALLENGES.UPDATED_AT" | translate }}: {{formatDate(challenge.updatedAt)}}
              </div>
            </mat-card-content>

            <mat-card-actions  style="text-align: left">
              <div>
                <mat-expansion-panel>
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      <mat-icon class="{{getClass(challenge.question_type)+'Button'}}">add_circle</mat-icon> <span style="padding-left: 40px" class="aligned-with-icon"> {{ "ADMIN.CHALLENGES.SHOW_RESOURCES" | translate }} </span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div *ngIf="resources">
                    <div *ngFor="let resource of getChallengeResources(challenge._id)">
                    <!--  <p> <strong>{{ "ADMIN.CHALLENGES.TITLE" | translate }}:</strong> {{ resource.title }} | <strong>{{ "ADMIN.CHALLENGES.URL" | translate }}:</strong> {{ resource.url }} | <button mat-stroked-button color="warn"><strong>{{ "ADMIN.CHALLENGES.DELETE_RESOURCE" | translate }}</strong><mat-icon>delete</mat-icon></button> </p>  -->
                      <p>
                        <strong>{{ "ADMIN.CHALLENGES.DOC_NAME" | translate }}:</strong> {{ resource.docName }} <strong> / </strong>
                        <strong>{{ "ADMIN.CHALLENGES.TITLE" | translate }}:</strong> {{ resource.title }} <strong> / </strong>
                        <strong>{{ "ADMIN.CHALLENGES.RELEVANT" | translate }}:</strong> {{ "ADMIN.CHALLENGES." + resource.relevant.toString().toUpperCase() | translate }} <strong> / </strong>
                        <strong>{{ "ADMIN.CHALLENGES.URL" | translate }}:</strong> {{ resource.url }} <strong> / </strong>
                        <button mat-icon-button color="warn" matTooltip="{{ 'ADMIN.CHALLENGES.DELETE_RESOURCE' | translate }}" matTooltipPosition="after" (click)="confirmResourceDelete(resource)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </p>
                    </div>
                  </div>
                  <p *ngIf="!getChallengeResources(challenge._id).length"> <strong>{{ "ADMIN.CHALLENGES.NO_RESOURCES" | translate }}</strong> </p>
                  <div class="spinnerCard" *ngIf="deletingResource">
                    <mat-progress-spinner color="primary" mode="indeterminate" class="mt-4 mb-4">
                    </mat-progress-spinner>
                    <span>
                      {{ "ADMIN.STUDIES.DELETING_RESOURCES" | translate }}
                    </span>
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-card-actions>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{'ADMIN.TABS.CREATE_CHALLENGE' | translate }}">
      <ng-template matTabContent>
        <app-challenge-creation [study]="study._id"> </app-challenge-creation>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{'ADMIN.TABS.ADD_RESOURCES' | translate }}">
      <ng-template matTabContent>
        <app-resource-upload [study]="study._id"> </app-resource-upload>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{'ADMIN.TABS.SHOW_RESOURCES' | translate }}">
      <div class="searchEngine">
        <ng-template matTabContent>
          <app-admin-search-result [query]="'*'" [domain]="study._id"></app-admin-search-result>
        </ng-template>
      </div>
    </mat-tab>

    <mat-tab >
      <ng-template mat-tab-label>
        <span (click)="refreshResources()"> {{'ADMIN.TABS.MANAGE_RESOURCES' | translate }} </span>
      </ng-template>
      <div *ngFor="let resource of filteredResources">
      <!--  <p> <strong>{{ "ADMIN.CHALLENGES.TITLE" | translate }}:</strong> {{ resource.title }} | <strong>{{ "ADMIN.CHALLENGES.URL" | translate }}:</strong> {{ resource.url }} | <button mat-stroked-button color="warn"><strong>{{ "ADMIN.CHALLENGES.DELETE_RESOURCE" | translate }}</strong><mat-icon>delete</mat-icon></button> </p>  -->
        <p>
          <strong>{{ "ADMIN.CHALLENGES.DOC_NAME" | translate }}:</strong> {{ resource.docName }} <strong> / </strong>
          <strong>{{ "ADMIN.CHALLENGES.TITLE" | translate }}:</strong> {{ resource.title }} <strong> / </strong>
          <strong>{{ "ADMIN.CHALLENGES.RELEVANT" | translate }}:</strong> {{ "ADMIN.CHALLENGES." + resource.relevant.toString().toUpperCase() | translate }} <strong> / </strong>
          <strong>{{ "ADMIN.CHALLENGES.URL" | translate }}:</strong> {{ resource.url }} <strong> / </strong>
          <button mat-icon-button color="warn" matTooltip="{{ 'ADMIN.CHALLENGES.DELETE_RESOURCE' | translate }}" matTooltipPosition="after" (click)="confirmResourceDelete(resource)">
            <mat-icon>delete</mat-icon>
          </button>
        </p>
      </div>
      <p *ngIf="!filteredResources.length"> <strong>{{ "ADMIN.CHALLENGES.NO_RESOURCES" | translate }}</strong> </p>
      <div class="spinnerCard" *ngIf="deletingResource">
        <mat-progress-spinner color="primary" mode="indeterminate" class="mt-4 mb-4">
        </mat-progress-spinner>
        <span>
          {{ "ADMIN.STUDIES.DELETING_RESOURCES" | translate }}
        </span>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
