<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<title>LETICIA Lab</title>
	<meta name="description" content="Trivia: Hacia el desarrollo y evaluación de competencias informacionales de manera lúdica."/>
	<meta name="keywords" content="Tirivia, NEURONE, TUTELAGE, Alfabetización Informacional, FONDECYT, Educación, Recuperación de Información."/>
	<meta name="author" content="InTeractiOn Research Lab"/>
	<meta name="robots" content="index,nofollow"/>
	<link rel='stylesheet' href='/trivia-hub/css/style.min.css' type="html/css"/>
	<link rel="icon" type="image/png" href="images/icon.png" sizes="128x128">
</head>
<body>
	<!-- Hero(extended) navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="/" class="navbar__logo">NEURONE Trivia</a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="/welcome#about">Acerca de</a></li>
						<li><a href="/welcome#participate">Participar</a></li>
						<li><a href="/welcome#contact">Contacto</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
						<h1 class="hero__title">¡Bienvenido(a) a Trivia!</h1>
						<p class="hero__text">Trivia es un juego del tipo preguntas-respuestas que tiene como propósito poner a prueba las competencias de investigación en línea de los estudiantes, esto en relación a la búsqueda de información, evaluación crítica de fuentes de información y el uso de la información.</p>
						<a href="/welcome#about" class="button hero__button">Aprender más</a>
						<a href="/welcome#participate" class="button button__accent">Participar</a>
						<a href="/welcome#contact" class="button hero__button">Contacto</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
	<!-- Steps -->
	<!--
	<div class="steps landing__section">
		<div class="container">
			<h2>Who can use Evie?</h2>
			<p>Here's who we can think of, but surely creative people will surprise us.</p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
						<img src="assets/welcome-images/undraw_designer.svg" class="step__image">
					</div>
					<h4>Programmers</h4>
					<p class="step__text">A landing page for your open source projects. Present your solution, easily create docs.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="assets/welcome-images/undraw_responsive.svg" class="step__image">
					</div>
					<h4>Designers</h4>
					<p class="step__text">A website for your own freebies. Let the world download and use your artwork.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="assets/welcome-images/undraw_creation.svg" class="step__image">
					</div>
					<h4>Makers</h4>
					<p class="step__text">A great starting point for your web application. Focus on your idea and execution.</p>
				</div>
			</div>
		</div>
	</div>
	-->
	<!-- About -->
	<div class="expanded landing__section" id="about">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="assets/welcome-images/undraw_creation.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Nuestra investigación</h2>
					<p class="expanded__text">Trivia forma parte del proyecto de investigación TUTELAGE (FONDECYT Regular N°1201610), cuyo objetivo es contribuir al desarrollo y evaluación de la Alfabetización Informacional en estudiantes de enseñanza básica y media. El proyecto, dirigido por el Dr. Roberto González-Ibáñez, es conducido por un equipo interdisciplinario de investigadores y educadores que forman parte del Laboratorio de Investigación InTeractiOn del Departamento de Ingeniería Informática, Universidad de Santiago de Chile. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="assets/welcome-images/undraw_hello_aeia.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">¿En qué consiste la participación de un estudiante en Trivia?</h2>
					<p class="expanded__text">Trivia es el clásico juego de preguntas y respuestas. En Trivia los estudiantes podrán jugar diariamente en un periodo de 2 semanas. Los estudiantes en Trivia deben encontrar las respuestas a 6 preguntas en temáticas vinculadas a su nivel escolar. El tiempo esperado de participación diaria es de entre 5 y 10 minutos, esto considerando que un estudiante podrá responder un máximo de 2 desafíos por día. Para encontrar las respuestas a las preguntas, los estudiantes deben utilizar únicamente los recursos provistos dentro del juego, esto incluye un buscador llamado NEURONE y contenido (preguntas, páginas Web, videos, imágenes, instrucciones, cuestionarios). Trivia ofrece un entorno seguro con contenido cuidadosamente seleccionado y verificado por nuestro equipo de investigación. Los desafíos tratados en Trivia se vinculan al nivel escolar del estudiante.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="assets/welcome-images/undraw_everywhere.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Aprende y contribuye a la ciencia jugando</h2>
					<p class="expanded__text">Hemos diseñado Trivia para que los estudiantes puedan aprender y a la vez contribuir a la ciencia de una manera entrenida.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Participate -->
	<div class="cta cta--reverse" id="participate">
		<div class="container">
			<div class="cta__inner">
				<h2 class="cta__title">¿Cómo participar?</h2>
				<p class="cta__sub cta__sub--center">Para participar se necesita (1) un computador de escritorio o notebook y conexión a Internet. (2) Al hacer click en el botón "Participar", el apoderado (padre/tutor) puede registrar al estudiante. (3) Dentro del registro se debe leer y aceptar consentimiento informado (donde se presentan los detalles del estudio) aprobado por Comité de Ética de la Universidad de Santiago de Chile y completar el formulario con los datos solicitados. (4) Los datos correspondientes a correo y contraseña serán empleados por los estudiantes o apoderado para ingresar posteriormente al juego.</p>
				<a [href]="getStudy()" class="button button__accent" *ngIf="containsStudy">Participar</a>
				<a class="button button__disabled" disabled *ngIf="!containsStudy">Participar</a>
				<div class="expanded__inner">
					<div class="expanded__media">
						<img src="assets/welcome-images/prizes-proposal-2.png" class="expanded__image">
					</div>
					<div class="expanded__content">
						<p class="expanded__text">Al completar la participación en el estudio (terminar todos los desafíos), el estudiante participará en el sorteo de una de las 3 giftcards de USD 50 para servicios digitales (a elección).</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact -->
	<div class="expanded landing__section" id="contact">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="assets/welcome-images/together.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">¿Tienes dudas?</h2>
					<p class="expanded__text">Si tienes dudas acerca de este estudio o de la investigación que estamos realizando, puedes contactar a Director del Proyecto, Roberto González-Ibáñez, PhD (<i>roberto.gonzalez.i@usach.cl</i>)</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer footer--dark" id="footer">
		<div class="container">
			<div class="footer__inner">
				<a href="/" class="footer__textLogo">Trivia</a>
				<div class="footer__data">
					<div class="footer__data__item">
						<div class="footer__row">
							<a href="https://tutelage.interaction-lab.info" target="_blank" class="footer__link">Proyecto FONDECYT Regular N°1201610: TUTELAGE</a>
						</div>
						<div class="footer__row">
							Diseño de esta página creado por <a href="https://twitter.com/ninalimpi" target="_blank" class="footer__link">Katerina Limpitsouni</a> y <a href="https://twitter.com/anges244" target="_blank" class="footer__link">Aggelos Gesoulis</a>
						</div>
					</div>
					<div class="footer__data__item">
						<div class="footer__row">
							<a href="http://interaction-lab.info" target="_blank" class="footer__link">InTeractiOn Research Lab</a>
						</div>
						<div class="footer__row">
							<a href="http://www.informatica.usach.cl" target="_blank" class="footer__link">Departamento de Ingeniería Informática USACH</a>
						</div>
						<div class="footer__row">
							<a href="https://www.usach.cl/" target="_blank" class="footer__link">Universidad de Santiago de Chile</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src='js/app.min.js'></script>
<script src='./trivia-hub.component.ts'></script>
</body>
</html>