
.navbar {
  background: rgb(15,15,133);
  background: linear-gradient(90deg, rgba(15,15,133,1) 0%, rgba(56,91,207,1) 100%);
}

.navbar__menu{
  padding-top: 15px;
  text-align: right;
}

a.text-link {
  text-decoration: underline;
  transition: background-color 0.33s;
}

a.text-link:hover {
  background-color: blue;
}

div.logo-showcase {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.logo1 {
  max-height: 150px;
  padding: 5px 5px 5px 5px;
}

img.logo2 {
  max-width: 30%;
  padding: 5px 5px 5px 5px;
}


.WelcomeHeaderText img, h1{
  text-align: center;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centrar{
  text-align: center;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
