.container {
  padding: 10px;
}

.main-content{
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

.title-span {
  margin-left: 1.5%;
  font-size: calc(0.9em + 1vmin);
  margin-right: 3%;
  color: #9d9d9d;
  text-decoration: none;
  font-family: Comic Sans MS, sans-serif;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 9%;
  display: flex;
  align-items: center;
  background-color: #181818;
  color: white;
  font-weight: 600;
}

.signup-form-field {
  width: 70%
}

.bottom-stepper-panel {
  margin-top: 10px;
  margin-bottom: 30px;
}

.stepper-button {
  margin-right: 5px;
}

.checkbox-div {
  margin-top: 10px;
}

.mat-form-field-invalid .mat-hint {
  margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content-center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}