.result-content{

    width: 100%;
}

.toolbar {
    width: 50%;
    display: flex;
    align-items: center;
    font-weight: 600;
  }

.logo{
    width: 15%;
    height: auto;
    display: inline-block;
    margin-right: 6%;
    margin-left: 1%;
    cursor: pointer;
}

::ng-deep .mat-form-field-infix{
    display: block;
    flex: auto;
    padding: 0 0 0.2em 0 !important;
}

.search-box{
    width: 80%;
    margin-top:2.5%;
    display: inline-block;
    font-size: 20px;
}


.documents-container{
    width: 65%;
    margin-left: 11%;
    margin-top: 1%;
}

.url-bar{
    height: 17px;
    font-weight: 300;
}

.document-link{
    font-size: 20px;
    line-height: 1.3;
    padding-top: 4px;
    margin-bottom: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    color: rgb(26, 13, 171);
}

.doc-body{
    color: rgb(77, 81, 86);
    font-size: 12px;
    font-weight: 500;
}

hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
}

p .soft{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #888585;
}

.cardStyle{
  margin: 10px;
}

mat-card{
  /**/
  align-self: flex-start;

}
mat-grid-tile .mat-figure{
  height: 50%;
}

.document-link{
  font-size: 14px;

}

.image-card:hover{
  cursor: pointer;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.8);
  /*border-color: #2196F3 !important;*/
}

.doc-card:hover{
  cursor: pointer;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.8);
  /*border-color: #2196F3 !important;*/
}

.doc-card{
  border: 0px;
  box-shadow: 0px 0px 0px 0px;
}

.doc-card .mat-card-content{
  border: 0px;
  box-shadow: 0px 0px 0px 0px;
}

