<div class="toolbar" role="banner">
    <a class="title-span" href="/">{{user}}</a>
</div>
<div class="main-content">
  <mat-card class="card mat-elevation-z8">
        <mat-card-title>{{"login" | translate}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field style="margin-top: 5%">
            <mat-label>{{"email" | translate}}</mat-label>
          <input type="text" matInput formControlName="email">
          <mat-error>
            {{"fieldRequired" | translate}}
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>{{"password" | translate}}</mat-label>
          <input type="password" matInput formControlName="password">
          <mat-error>
            {{"fieldRequired" | translate}}
          </mat-error>
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" color="primary" mat-raised-button>{{"enter" | translate}}</button>
      </div>


    </form>
  </mat-card-content>
</mat-card>
</div>
