<mat-card class="summary-card">
    <mat-card-content>
      <h2>{{"ADMIN.GAMIFICATION.CHALLENGE_COMPLETED" | translate}}</h2>
      <h4>{{"ADMIN.GAMIFICATION.EXP1" | translate}} {{answer.pointsObtained}} {{"ADMIN.GAMIFICATION.EXP2" | translate}}</h4>
      <img src="/assets/star.png" class="summary-img">
      <h4>{{"USER.PROFILE.NEXT_LEVEL_PROGRESS" | translate}}</h4>
                <mat-card class="progressLevelCard" >
                    <p  class="large" style="display: inline-block;">{{nearLevel?.level.name}}</p>
                    <div id="progressLevel" class="progress large">
                        <span id="progressValue" class="value large"></span>
                    </div>
                </mat-card>

      <button mat-raised-button color="accent" class="okButton" (click)="continue()">
        {{"BUTTONS.CONTINUE" | translate}}
      </button>
    </mat-card-content>

  </mat-card>
  