<app-header></app-header>
<!-- Game data loading -->
<div class="center-container" *ngIf="loading; else loaded">
  <mat-spinner class="loading-spinner"></mat-spinner>
</div>
<ng-template #loaded>
  <!-- Game inactive -->
  <div class="center-card" style="margin-top: 5%;" *ngIf="!gameService.canPlay.canPlay && gameService.stage !== 'post-study' && gameService.stage !== 'study-finished' && gameService.stage !== 'no-play-again' && !gameService.authService.getUser().trainer_id">
    <mat-card class="card mat-elevation-z8"> 
    <div class='row center-container'>
      <div class="col-md-4">
        <img src="assets/Neurona%20(1).png" style="width: 80%">
      </div>
      <div class="col-md-8">
        <br>
        <h3>{{ "GAME.INACTIVE.MESSAGE" | translate }}</h3>
        <p *ngIf="gameService.canPlay.canPlayAtTime">
          {{ "GAME.INACTIVE.CAN_PLAY_AT" | translate }}
          {{ gameService.canPlay.canPlayAtTime | date: 'dd/MM/yyyy' }}
          {{ "GAME.INACTIVE.CAN_PLAY_AT1B" | translate }}
          {{ gameService.canPlay.canPlayAtTime | date: 'shortTime' }}
          {{ "GAME.INACTIVE.CAN_PLAY_AT_FINAL" | translate}}
        </p>
        <img src="/assets/clock.gif" style="width: 200px;"> 
        <div class='center-container'>
          <button  class="btn btn-success" style="width: 50%" (click)="continue()">{{"BUTTONS.CONTINUE" | translate}}</button>
        </div>
      </div>
  
    </div>
   </mat-card>
  </div>


  <!-- Asentimiento informado pending -->
  <div
    class="container"
    *ngIf="gameService.canPlay.canPlay && gameService.stage == 'assent'"
  >
    <app-assent></app-assent>
  </div>
  <!-- Pre-test questionnaire pending -->
  <div
    class="container"
    *ngIf="gameService.canPlay.canPlay && gameService.stage == 'pre-test'"
  >
    <app-pre-test-questionnaire></app-pre-test-questionnaire>
  </div>
  <!-- Everything ok, game can start -->
<!--
  <div
    class="container"
    *ngIf="gameService.canPlay.canPlay && gameService.stage == 'instructions'"
  >
    <app-start-instructions></app-start-instructions>
  </div>
-->  
  <!-- Post-test questionnaire pending -->
  <div
    class="container"
    *ngIf="gameService.canPlay.canPlay && gameService.stage == 'post-test'"
  >
    <app-post-test-questionnaire></app-post-test-questionnaire>
  </div>

  <!-- Summary  / Gamification -->
  <div
    class="container"
    *ngIf="gameService.canPlay.canPlay && gameService.stage == 'summary'"
  >
    <app-summary></app-summary>
  </div>

  <!-- Play Again -->
  <div
    class="container"
    *ngIf="gameService.canPlay.canPlay && gameService.stage == 'play-again'"
  >
    <app-play-again></app-play-again>
  </div>

  <!-- Can't Play Again  -->

  <div class="center-card" style="margin-top: 5%;" *ngIf="gameService.stage == 'no-play-again'" >
    <mat-card class="card mat-elevation-z8"> 
    <div class='row center-container'>
      <div class="col-md-4">
        <img src="assets/Neurona%20(1).png" style="width: 80%">
      </div>
      <div class="col-md-8">
        <br>
        <h3>{{ "GAME.INACTIVE.TITLE2" | translate }}</h3>
        <p>{{ "GAME.INACTIVE.CAN_PLAY_AT2" | translate }}
          {{ gameService.canPlay.canPlayAtTime | date: 'dd/MM/yyyy' }}
          {{ "GAME.INACTIVE.CAN_PLAY_AT1B" | translate }}
          {{ gameService.canPlay.canPlayAtTime | date: "shortTime" }}
          {{ "GAME.INACTIVE.CAN_PLAY_AT_FINAL2" | translate}}</p>
        <img src="/assets/clock.gif" style="width: 200px;"> 
        <div class='center-container'>
          <button  class="btn btn-success" style="width: 50%" (click)="continue()">{{"BUTTONS.CONTINUE" | translate}}</button>
        </div>
      </div>
  
    </div>
   </mat-card>
  </div>
  
  <!-- Post-study questionnaire pending -->
  <div
    class="container"
    *ngIf="gameService.stage == 'post-study'"
  >
    <app-post-study-questionnaire></app-post-study-questionnaire>
  </div>

  <!-- Study Finished NORMAL/TRAINER -->
  <div class="center-card" *ngIf="gameService.stage == 'study-finished' && gameService.getUrl() !== 'https://trivia.neurone.info/participa'">
    <mat-card class="card mat-elevation-z8">
      <mat-card-title *ngIf="!gameService.authService.getUser().trainer_id">{{ "GAME.FINISHED.TITLE" | translate }}</mat-card-title>
      <mat-card-title *ngIf="gameService.authService.getUser().trainer_id">{{ "GAME.FINISHED.STAGE_TITLE" | translate }}</mat-card-title>
      <mat-card-content>
        <p *ngIf="!gameService.authService.getUser().trainer_id; else elseBlock">{{ "GAME.FINISHED.MESSAGE" | translate }}</p>
        <ng-template #elseBlock>
          <p>{{ "GAME.FINISHED.MESSAGE_TRAINER" | translate }}</p>
        </ng-template>
        <img src="/assets/TRIVIA.png" style="width: 300px; margin-left: 10%"> 
        <button mat-raised-button color="primary" style="margin-left: 20%" *ngIf="!gameService.authService.getUser().trainer_id; else elseBlock2" (click)="continue()">
          {{"BUTTONS.CONTINUE" | translate}}
        </button>
        <ng-template #elseBlock2>
          <button mat-raised-button color="primary" style="margin-left: 20%" (click)="logout()">
            {{"BUTTONS.END" | translate}}
          </button>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Study Finished AS SERVICE, NOT TRAINER -->
  <div class="center-card" *ngIf="gameService.stage == 'study-finished' && gameService.getUrl() === 'https://trivia.neurone.info/participa'">
    <mat-card class="card mat-elevation-z8">
      <mat-card-title>{{ "GAME.FINISHED.TITLE" | translate }}</mat-card-title>
      <mat-card-content>
        <p>{{ "GAME.FINISHED.MESSAGE_EXTERNAL_1" | translate }}</p>
        <p>{{ "GAME.FINISHED.MESSAGE_EXTERNAL_2" | translate }}</p>
        <img src="/assets/TRIVIA.png" style="width: 300px; margin-left: 10%"> 
        <button mat-raised-button color="primary" style="margin-left: 20%" (click)="logout()">
          {{"BUTTONS.MORE" | translate}}
        </button>
      </mat-card-content>
    </mat-card>
  </div>

</ng-template>
