.container {
  min-width: 1100px;
}

.center-container {
  padding: 100px 0;
  text-align: center;
}

.center-card {
  margin-left: 20%;
	margin-right: 20%;
	margin-top: 15%;
}

.loading-spinner {
  margin: auto;
}

.start-button {
  width: 400px;
}
