<app-header></app-header>
<button (click)="test()">test</button>
<!-- Game data loading -->
<div class='center-container' *ngIf="loading">
  <mat-spinner class="loading-spinner"></mat-spinner>
</div>
<div class="center-card" *ngIf="!loading && !gameActive">
  <mat-card class="card mat-elevation-z8">
      <mat-card-title>{{"GAME.INACTIVE.TITLE" | translate}}</mat-card-title>
    <mat-card-content>
      <p>{{"GAME.INACTIVE.MESSAGE" | translate}}</p>
    </mat-card-content>
  </mat-card>
</div>
<router-outlet *ngIf="!loading && gameActive"></router-outlet>
