<app-header></app-header>
<router-outlet></router-outlet>
<mat-card class="studies-display-card">
  <mat-card-header>
    <mat-card-title>{{ "ADMIN.TITLE" | translate }}</mat-card-title>
    <mat-card-subtitle>{{ "ADMIN.SUBTITLE" | translate }}:</mat-card-subtitle>
    <div class="container options">
      <button mat-raised-button color="primary" (click)="CreateStudy()"> Crear Estudio </button>
      <button mat-raised-button color="primary" (click)="CreateChallenge()"> Crear Challenge </button>
    </div>
  </mat-card-header>
</mat-card>

<div class="main-content">
    <div>
        <app-studies-display> </app-studies-display>
    </div>
</div>


