
.options{
  text-align: right;
  padding-right: 5%;
  padding-left: 5%;
}
.options button{
  margin: 10px;
}

.status{
  margin-left: 10%;
  margin-top: 3%;
  width: 35%;
  display: inline-block;
}
.studies-title{
  margin-left: 10%;
  margin-top: 1%;
}

.gamify-button{
  margin-left: 3%;
  margin-top: 3%;
  width: 10%;
  display: inline-block;
}

.ok{
  margin-left: 5%;
  color: green;
}

.notok{
  margin-left: 5%;
  color: red;
}
.mat-form-field{
	width: 100%;
}

.studies-display-card{
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 0%;
}

mat-card{
  /**/
  align-self: flex-start;
}
.button-customize{
  font-size: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
}

::ng-deep .search-studies-bar .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

::ng-deep .search-studies-bar .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
}

::ng-deep .search-studies-bar .mat-form-field-wrapper {
  padding-bottom: 0;
  box-shadow: 0 0 5pt 0.5pt #D3D3D3;
  border-radius: 28px 28px 28px 28px !important;


}

::ng-deep .search-studies-bar .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(161, 161, 161)!important;
  opacity: 0.35!important;
}

::ng-deep .search-studies-bar .mat-form-field:not(.mat-form-field-has-label) .mat-form-field-infix {
  border-top-width: 5px;
}


